/*@import "tailwindcss";*/
/*@config "../tailwind.config.js";*/

body.no-scroll {
  overflow: hidden;
}

html {
  font-family: "Montserrat", sans-serif !important;
}

input:focus-visible {
  outline: none;
}
input:checked + #checkmark {
  opacity: 1;
}

.custom-marker {
  background: none;
  border: none;
}

.marker-container {
  display: flex;
  align-items: center;
}

.marker-icon {
  width: 57px;
  height: 69px;
}

.info-box {
  margin-left: -30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 145px;
  height: 53px;
  z-index: -8;
  background-color: #FFFFFFE5;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  padding-left: 34px;
}
@media (max-width: 720px) {
  #mobile_lab_info {
    z-index: 101; /* Выше карты */
    border-radius: 16px 16px 0 0 ;
    height: 60vh;
    /*display: block !important;*/
  }
  #modal_map .flex-col {
    flex-direction: column;
  }
  #modal_map .sm\:w-2\/3 {
    width: 100%;
    height: 100vh; /* Карта на весь экран */
  }
  #modal_map .sm\:w-1\/3 {
    display: none; /* Скрываем правый блок на мобильных */
  }
}
@media (max-width: 767px) and (min-width: 720px) {
  #make_appointment_btn {
    width: 30%;
  }

  #close-popup-btn {
    display: none;
  }

  #mobile_lab_info {
    display: none;
  }

  #choose_lab {
    display: block;
    margin-top: 20px;
  }

  #modal_content {
    border-radius: 16px ;
  }

  #modal_content {
    width: 90vw;
    height: 570px;
  }

  #modal_content_lvl3 {
    height: 570px;
    border-radius: 16px 16px ;
  }

  #info_panel_close {
    display: flex;
  }

  #map {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px
  }

  #info_panel {
    display: flex;
  }
}

#close-popup-btn {
  z-index: 1000; /* Чтобы кнопка была выше карты */
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 10px;
  top: 0;
}

.leaflet-control-custom {
  position: absolute;
  right: 10px;
  /*top: 30vh;*/
  /*top: 0;*/
  z-index: 1000;
  background: white;
  cursor: pointer;
  width: 52px;
  height: 52px;
  padding: 13px;
  border-radius: 100px !important;
  border: none !important;
}

.leaflet-control-custom button {
  background: none;
  border: none;
  cursor: pointer;
}

/*@media (min-width: 641px) {*/
/*  #close-popup-btn {*/
/*    display: none;*/
/*  }*/
/*}*/


